<div class="lineMenu">
    <h1 class="animate__animated animate__zoomIn animate__delay-800ms">INICIO</h1>
    <h1 class="animate__animated animate__zoomIn animate__delay-1s">ACERCA DE MI</h1>
    <h1 class="animate__animated animate__zoomIn animate__delay-2s">PROYECTOS</h1>
    <h1 class="animate__animated animate__zoomIn animate__delay-3s">CONTACTO</h1>
    <i class="fa-solid fa-chevron-down fa-2x fa-fade"></i>
</div>
<div class="navBar">
    <span>ESP</span>
    <span>ENG</span>
    <a href="https://github.com/thomasesteban22">
    <i class="fa-brands fa-github fa-xl"></i>
    </a>
    <a href="https://www.linkedin.com/in/thomas-esteban-ariza-forero-76827918b/">
    <i class="fa-brands fa-linkedin fa-xl"></i>
    </a>

</div>
<div class="contenidoInicio">
    <h5>¡Hola! soy...</h5>
    <h1>Thomas Esteban</h1>
    <p>Desarrollador Junior enfocado en el desarrollo web con experiencia en trabajo free-lance</p>
    <div class="animeTest">

    </div>
</div>

