<div class="lineMenu">
    <i class="fa-solid fa-chevron-down fa-2x fa-fade"></i>
</div>
<div class="navBar">
    <span>ESP</span>
    <span>ENG</span>
    <i class="fa-brands fa-github fa-xl"></i>
    <i class="fa-brands fa-stack-overflow fa-xl"></i>

</div>
<div class="contenidoInicio">
    <h1>Thomas Esteban</h1>
</div>