<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="path_to_css_files/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e2018d452b.js" crossorigin="anonymous"></script>
    <script defer src="/your-path-to-fontawesome/js/brands.js"></script>
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
    <script defer src="/your-path-to-fontawesome/js/fontawesome.js"></script>
    <title>ThomasPortfolio</title>
</head>
<body>
    <%-body%>
</div>
</body>
</html>