body{
    background-color: rgb(27, 38, 44);
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    height: 100vh;
    font-family: 'Roboto Mono', monospace !important;

    /*rgb(27, 38, 44) Color Azul 4 (Oscuro)*/
    /*rgb(15, 76, 117) Color Azul 3*/
    /*rgb(50, 130, 184) Color Azul 2*/
    /*rgb(187, 225, 250) Color Azul 1 (Claro)*/

}
.lineMenu{
    height: 100vh;
    width: 10%;
    background-color:rgb(50, 130, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lineMenu i{
    margin-top: 90vh;
    position: absolute;
}
.lineMenu h1{
    font-size: 17px;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 65%;
    color:rgb(15, 76, 117);
}
.lineMenu h1:hover{
    font-size: 19px;
    color:rgb(27, 38, 44) ;
}

.navBar{
    top:0;
    width: 100%;
    display: flex;
    justify-content: end;
    height: 5vh;
    text-align: center;
    align-items: center;
    position: absolute;
}
.navBar i{
    color:rgb(187, 225, 250);
}
.navBar a{
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.navBar span{
    color:rgb(187, 225, 250);
    margin-left: 0.3%;
    margin-right: 0.3%;
}
.navBar i:hover{
    color:rgb(50, 130, 184) ;
}
.contenidoInicio{
    width: 50%;
    height: 50%;
}
.contenidoInicio h1{
    font-size: 110px;
    color:rgb(187, 225, 250);
    margin-left: 2%;
}
.contenidoInicio h5{
    font-size: 40px;
    color:rgb(50, 130, 184);
    margin-left: 2%;
}
.contenidoInicio p{
    font-size: 20px;
    color:rgb(50, 130, 184);
    margin-left: 2%;
}
.animeTest{
    background-color: rgb(50, 130, 184);
    width: 80vh;
    height: 15px;
}